.Link {
    text-decoration: none;
    font-family: 'Lato';
    color: black;
    font-weight: bolder;

    &:hover {
        transform: scale(1.1);
        transition: all 0.2s ease-in;
    }
}

.SingleOffer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 3rem;
    padding: 1rem;
    width: 130px;
    height: 130px;

    @media (max-width: 1199px) {
        margin: 2rem;
    }

    @media (max-width: 680px) {
        margin: 1rem;
        padding: 0.8rem;
    }

    @media (max-width: 380px) {
        margin: 0.7rem;
        padding: 0.5rem;
    }
}

.IconWrapper {
    padding: 1rem;

    >img {
        max-width: 100%;

        @media (max-width: 680px) {
            max-width: 70%;
        }
    }
}

.TextWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Title {
    @media (max-width: 680px) {
        font-size: 0.9rem;
    }

    @media (max-width: 380px) {
        font-size: 0.8rem;
    }
}