.Toolbar {
    height: 200px;
    max-height: 220px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    z-index: 90;
    transition: all 0.5s ease-in;

    nav {
        align-self: flex-start;

        hr {
            border: 0.1px solid #005826;
            opacity: 0.6;
        }
    }

    @media (max-width: 720px) {
        height: 140px;
        padding: 1.2rem;
    }
    
    @media (max-width: 500px) {
        height: 100px;
    }
}

.DesktopOnly {
    width: 100%;
    align-self: flex-end;

    @media (max-width: 845px) {
        display: none;
    }

}

.SecondaryToolbar {
    height: 100px;
    max-height: 120px;
    width: 100%;
    position: fixed;
    transition: all 0.5s ease-in;
    background-color: #005826;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    z-index: 90;

    nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;

    }

    @media (max-width: 550px) {
        background-color: #005826;
    }

    @media (max-width: 720px) {
        height: 120px;
        padding: 1rem;
    }

    .DesktopOnlySecondary {
        width: 100%;

        @media (max-width: 845px) {
            display: none;
        }

        ul {
            list-style-type: none;
            font-family: 'Lato';
            color: white;
            font-size: 0.8rem;
            text-align: right;
            font-weight: lighter;
        }

    }
}