.Offer {
    min-height: 100vh;
    max-height: 100%;
    max-width: 100%;
    padding: 2rem;

    @media (max-width: 680px) {
        padding: 1rem;
    }
}

.OfferWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 75%;
    margin: 100px auto 0 auto;
    // padding: 1rem;

    @media (max-width: 1035px) {
        max-width: 95%;
    }

    @media (max-width: 680px) {
        margin: 90px auto 0 auto;
    }


}