.Logo {
    padding: 8px;
    height: 180px;
    margin-right: 2rem;
    display: flex;
    align-items: center;

    img {
        max-height: 100%;
        max-width: 190px;

        @media (max-width: 745px) {
            max-width: 150px;
        }
    }

    @media screen and (max-width: 745px) {
        height: 100px;
        width: 50px;
        margin-right: 0;
    }

    &:hover {
        transform: scale(1.01);
        transition: all 0.2s ease-in;
        cursor: pointer;
    }

}