.Cta {
    max-width: 60%;
    height: 100%;
    text-align: right;
    padding: 1rem 2rem;
    margin-right: 110px;

    @media (max-width: 1199px) {
        max-width: 55%;
        margin-right: 10px;
        text-align: right;
    }

    @media (max-width: 745px) {
        text-align: center;
        max-width: 80%;
        margin-bottom: 2rem;
    }

    @media (max-width:600px) {
        max-width: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        padding: 1rem;
    }

    .Heading {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1;
        font-family: 'Playfair Display';
        padding: 5px 0;

        @media (max-width: 1199px) {
            font-size: 2.6rem;
        }

        @media (max-width: 840px) {
            font-size: 2rem;
        }

        @media (max-width: 600px) {
            font-size: 1.6rem;

        }
    }

    .Paragraph {
        font-family: 'Lato';
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: 300;
        max-width: 75%;
        display: block;
        margin-left: auto;
        padding: 10px 0;


        @media (max-width: 1199px) {
            font-size: 1.6rem;
            max-width: 100%;
            margin-left: 0;
        }

        @media (max-width: 840px) {
            font-size: 1.4rem;
        }

        @media (max-width: 600px) {
            font-size: 1rem;
            margin: 0;
        }
    }

    .Buttons {
        margin-top: 2.8rem;

        @media (max-width: 600px) {
            margin: 3rem 0;
        }

        @media (max-width: 500px) {
            margin: 2rem;
        }


    }
}