.Blog {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    text-align: right;

   
}

.ImageContainer {
    max-width: 400px;
    display: flex;
    justify-content: flex-end;
    width: 45%;

    img {
        width: 90%;
        align-self: flex-end;
    }

    @media (min-width: 1700px) {
        max-width: 35%;
    }

    @media (max-width: 900px) {
        position: absolute;
        bottom: 0;
        left: 5%;
        max-width: 40%;
    }

    @media (max-width: 590px){
        max-width: 45%;
    }
}

.InfoContainer {
    // width: 55%;
    // margin-left: 8rem;
    padding: 0 2rem 0 0;
    
    @media (min-width: 1700px) {
        width: 70%;
        margin-left: 5rem;
    }

    @media (max-width: 900px) {
        width: 70%;
        margin-left: auto;
    }

    @media (max-width: 590px) {
        width: 80%;
        margin: 10px auto;
        
    }

    @media (max-width: 400px) {
        width: 90%;
    }

    >* {
        margin: 0.3rem 0;
    }

    h1 {
        font-family: 'Playfair Display';
        font-size: 2.4rem;
        margin-left: auto;
        line-height: 1.2;

        @media (min-width: 1700px) {
            font-size: 3rem;
        }

        @media (max-width: 860px) {
            font-size: 2rem;
        }

        
        @media (max-width: 590px) {
            font-size: 1.8rem;
        }

        @media (max-width: 350px) {
            font-size: 1.4rem;
        }
    }

    p {
        font-family: 'Lato';
        font-size: 1.6rem;
        font-weight: lighter;

        @media (min-width: 1700px) {
           font-size: 2rem;
        }

        @media (max-width: 860px) {
            font-size: 1.2rem;
        }

        @media (max-width: 590px) {
            font-size: 1rem;
        }
    }

    a {
        text-decoration: none;
        font-family: 'Playfair Display';
        font-size: 1.2rem;
        color: #619176;
        padding: 6px;
        border-bottom: none;

        @media (min-width: 1700px) {
           font-size: 1.5rem;
        }

        @media (max-width: 860px) {
            font-size: 1rem;
        }

        
        @media (max-width: 590px) {
            font-size: 0.9rem;
        }

        &:hover {
            color: #005826;
            transition: all 0.2s ease-in;
        }
    }
}