.Blog {
    z-index: 1;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    left: 10%;
    text-align: right;

    @media (max-width: 900px) {
        position: relative;
        // bottom: -90px;
        height: 100%;
    }

    @media (max-width: 510px) {
        width: 90%;
        left: 0;
        margin: auto;
    }
}

.ImageContainer {
    max-width: 380px;
    max-height: 380px;

    @media (max-width: 900px) {
        max-width: 40%;
        max-height: 50%;
        position: absolute;
        bottom: 0px;
    }

    @media (max-width: 510px) {
        bottom: -35px;
    }

    img {
        max-width: 100%;


    }
}

.InfoContainer {

    @media (max-width: 900px) {
        margin: 10px 0 10px auto
    }

    >* {
        margin: 0.3rem 0;
    }

    h1 {
        font-family: 'Playfair Display';
        font-size: 2.4rem;
        margin-left: auto;
        line-height: 1.2;

        @media (max-width: 900px) {
            font-size: 1.5rem;
        }

        @media (max-width: 510px) {
            font-size: 1.4rem;
            width: 80%;
        }
    }

    p {
        font-family: 'Lato';
        font-size: 1.6rem;
        font-weight: lighter;

        @media (max-width: 900px) {
            font-size: 1.1rem;
        }

        @media (max-width: 510px) {
            font-size: 0.9rem;
        }
    }

    a {
        text-decoration: none;
        font-family: 'Playfair Display';
        font-size: 1.2rem;
        color: #619176;
        padding: 6px;
        border-bottom: none;

        @media (max-width: 900px) {
            font-size: 1rem;
        }

        @media (max-width: 500px) {
            font-size: 0.9rem;
        }


        &:hover {
            color: #005826;
            transition: all 0.2s ease-in;
        }
    }
}