.StaffType {
    max-height: 300px;
    max-width: 80%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 120px;
    z-index: 200;

    h2 {
        margin-bottom: 50px;
        margin-left: -80px;
        font-size: 2.4rem;
        font-family: 'Playfair Display';
    }
}

.AllStaff {
    display: flex;
    justify-content: space-between;
}
