.StaffType {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    h2 {
        margin: 25px 0 20px 0;
        margin-left: 55px;
        font-size: 2.4rem;
        font-family: 'Playfair Display';

        @media (min-width: 1700px) {
            font-size: 3rem;
        }
    }
}

.AllStaff {
    display: flex;
    justify-content: space-evenly;
}


.CrossHorizontal {
    width: 75vw;
    background-color: #005826;
    height: 10px;
    position: absolute;
    left: -5%;
    bottom: 30%;
    
    z-index: -5;

    @media (max-width: 900px) {
        display: none;
    }
}