* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

*::-webkit-scrollbar {
    display: none;
}

body {
    overflow: hidden;
  }

html {
    scroll-snap-type: y proximity;
}

section, #partnerzy {
    scroll-snap-align: center;
}


#kadra{
    scroll-snap-align: start;
}

footer {
    scroll-snap-align: center;
    
}

@media (max-width: 745px) {
 section, #kadra, footer {
     scroll-snap-align: start !important;
 }   
}

