* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

*::-webkit-scrollbar {
    display: none;
}

body {
    overflow: hidden;
}

html {
    scroll-snap-type: y proximity;
}

#oferta, footer {
  scroll-snap-align: center;
}	

#intro, #kadra, #klinika {
    scroll-snap-align: start;
}


@media (max-width: 500px) {

    html {
        scroll-snap-type: none !important;
    }

    section, footer, #kadra {
        scroll-snap-align: none !important;
    }
}