.TechniciansPage{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TechniciansWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    @media (min-width: 1000px) {
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1 1 20%;
    }

    > div {
        max-width: 20%;
    }
}

.BackArrow {
    border: solid #005826;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: absolute;
    top: 220px;
    left: 10%;
    cursor: pointer;
    z-index: 50;
    -webkit-animation: dissapear 3s infinite;
            animation: dissapear 3s infinite;

    @media (max-width: 1000px) {
        top: 190px;
    }
}

@-webkit-keyframes dissapear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes dissapear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}