.Contact {
    max-width: 350px;
    height: 60%;

    padding: 2rem;
    font-family: 'Lato';
    display: flex;

    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 88, 38, 0.5);
    backdrop-filter: blur(0.3rem);
    background-clip: padding-box;
    position: absolute;
    bottom: 0;
    left: 10%;

    @media (max-width:1199px) {
        position: relative;
        left: 0;
    }

    @media (max-width: 1110px) {
        font-size: 14px;
    }



}

.Heading {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 1.8rem;

    span {
        font-size: 1.2rem;
    }

    @media (max-width: 1110px) {
        font-size: 1.2rem;
    }
}

.ContactInfo {
    margin-top: 2rem;
}

.ContactList {
    list-style-type: none;
    line-height: 1.2;

    .ListItem {
        display: flex;
        align-items: center;
        color: white;
        margin-bottom: 10px;
    }

    .IconContainer {
        padding: 10px;
        margin-right: 10px;

        img {
            max-height: 30px;
        }
    }
}