.Partners {
    min-height: calc(100vh);
    max-height: 100%;
    position: relative;
    padding: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;

    @media (max-width: 745px) {
        padding: 1rem 0;
    }

}

.PartnersHeading {
    font-size: 2.8rem;
    font-family: 'Playfair Display';
    color: #005826;
    margin-top: 80px;
    margin-bottom: 30px;

    @media (max-width: 745px) {
        margin-top: 20px;
        font-size: 2.5rem;
    }

}