.Intro {
    background-image: url('../../assets/images/background.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 2rem;
   

    @media (max-width: 745px) {
        background-position: center;
        height: 100%;
    }
}

.IntroWrapper {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    position: relative;
}

.Buttons {
    position: absolute;
    right: 0;
    bottom: 0;
}